html {
  height: 100%;
}

/* website background */

body {
  font-size: 14px;
  font-family: dosis, sans-serif;
  height: 100%;
  background-image: url("../img/ConstructionPage_rechtes-bild.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

/* head logo */

.logo-container {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding-bottom: 6px;
  border-bottom: 8px solid #f0f0f0;
}

img {
  width: 100%;
  height: 100%;
}

/* headline and infotext */

.info-container {
  margin-top: 75px;
}

.info-headline {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.info-headline-text {
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
  padding-bottom: 0px;
}

/* cta-btn -contact */

.cta-btn-container {
  margin-top: 40px;
  text-align: center;
}

.cta-btn {
  font-family: dosis;
  font-weight: 600;
  font-size: 20px;
  color: white;
  display: inline-block;
  width: 250px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #00d86b;
  border-color: #00d86b;
  border-radius: 20px;
  text-decoration: none;
}

.cta-btn:hover {
  background-color: #00ce67;
}

/* service info */

.service-info {
  margin-top: 30px;
  text-align: center;
}

.service {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.address {
  font-size: 13px;
  margin-top: 0px;
}

/* countdown */

.main-content {
  text-align: center;
}

.countdown {
  color: white;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
}

.countdown .date {
  font-size: 70px;
  margin-bottom: -10px;
}

.countdown .date-description {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5;
}