html {
  height: 100%;
}

/* website background */

body {
  font-size: 14px;
  font-family: dosis, sans-serif;
  height: 100%;
  background-image: url("divacodesign.github.io/img/ConstructionPage_rechtes-bild.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

/* head logo */

.logo-container {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding-bottom: 8px;
  border-bottom: 8px solid #f0f0f0;
}

img {
  width: 100%;
  height: 100%;
}

/* headline and infotext */

.info-container {
  margin-top: 100px;
}

.info-headline {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.info-headline-text {
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
  padding-bottom: 0px;
}

/* cta-btn -contact */

.cta-btn-container {
  margin-top: 40px;
  justify-content: center;
  display: flex;
}

.cta-btn {
  font-family: dosis;
  font-weight: 600;
  font-size: 20px;
  color: white;

  width: 250px;
  height: 40px;
  background-color: #00d86b;
  border-color: #00d86b;
  border-radius: 20px;
}